---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Policies";
const description = "undefined";
const status = "publish";
const type = "page";
const createdAt = new Date("2019-03-22T10:26:20");
const modifiedAt = new Date("2021-04-28T09:59:36");
const authorId = 9;
---

<BaseLayout {title} {description}>
  <section class="pt-12 lg:pt-24">
    <div class="grid md:grid-cols-[minmax(0,_4fr)_minmax(0,_7fr)] gap-8">
      <h1 class="font-gotham-light text-[2.5rem] leading-tight">Policies</h1>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">
            Information on personal data handling
          </h3>
          <p class="leading-tight">
            What is personal data and what does the handling of it mean?
            Personal data is any kind of information referable to a living,
            physical person. It can be a name,…
          </p>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/policies/information-on-personal-data-handling">Read more</a
          >
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Consumer dispute</h3>
          <p class="leading-tight">
            The Swedish Bar Association’s Consumer Disputes Committee received
            approval as an alternative dispute entity on 11 January 2016. It was
            founded to adjudicate disputes between a consumer and a member of…
          </p>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/policies/consumer-dispute">Read more</a
          >
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">
            DAC 6 – EU Directive on mandatory automatic exchange of information
            in the field of taxation in relation to reportable cross-border
            arrangements
          </h3>
          <p class="leading-tight">
            The Council Directive (EU) 2018/822 of 25 May 2018, DAC 6 below, is
            an EU directive that obliges advisers to provide information to the
            relevant tax authority on their clients’…
          </p>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/policies/dac-6-eu-directive-on-mandatory-automatic-exchange-of-information-in-the-field-of-taxation-in-relation-to-reportable-cross-border-arrangements"
            >Read more</a
          >
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Environmental policy</h3>
          <p class="leading-tight">
            WSA provides legal assistance in areas of business law to both
            national and international companies and organisations. All our
            offices share a common environmental policy. We should strive to
            execute…
          </p>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/policies/environmental-policy">Read more</a
          >
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">
            General assignment conditions
          </h3>
          <p class="leading-tight">
            1 Applicability 1.1 These general terms and conditions apply to all
            services which Wesslau Söderqvist Advokatbyrå provides to their
            clients. 1.2 When we are retained by you to provide a service,…
          </p>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/policies/general-assignment-conditions">Read more</a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
