---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="We want to be your business partner" description="">
  <section
    class="grid md:grid-cols-[minmax(0,_2fr)_minmax(0,_3fr)] gap-8 pt-12 lg:pt-24">
    <h1 class="font-gotham-light text-[2.5rem] leading-tight">
      We have settled the score with old tradition
    </h1>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h2 class="font-gotham-bold text-xl">We put your business first</h2>
        <p class="leading-tight">
          At WSA, we look beyond the old ideas and boundaries of a traditional
          law firm. To us, competence means not to limit ourselves inside a
          traditional branch of law, but also to identify and support the
          greatest possible business advantage in every assignment.
        </p>
        <p class="leading-tight">
          We understand how companies are subjected to constant waves of
          challenge. We believe that true legal counselling must always
          understand the business reality at hand in order to offer a way of
          developing any company in the right direction.
        </p>
        <p class="leading-tight">
          Our extensive networks, both globally and cross business, allows us to
          meet the specific demands of your company. In a world of constant
          change, change itself is not a problem to us, but a source of
          potential benefit.
        </p>
        <p class="leading-tight">
          We want you to feel safe in responding to opportunity as it arises.
          Our competence and deeply rooted sense of responsibility allows us to
          comfortably challenge more in the areas most important to your
          business.
        </p>
        <p class="leading-tight">
          We drive the questions that make a difference. That’s why we like you
          to consider us as your natural legal partner in the creative and ever
          changing work that is the running of a company. Together with us, both
          you and your company will reach your full potential.
        </p>
      </div>
      <div></div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h2 class="font-gotham-bold text-xl">
            A selection of our areas of expertise
          </h2>
          <ul class="sm:columns-2">
            <li>Banking and Finance Law</li>
            <li>Bankruptcy Law</li>
            <li>Capital Market</li>
            <li>Commercial Contract Law</li>
            <li>Company Acquisitions</li>
            <li>Company Law</li>
            <li>Competition Law</li>
            <li>Compliance</li>
            <li>Construction Contract Law</li>
            <li>Corporate Law</li>
            <li>Credit and Bankruptcy Law</li>
            <li>Creditor Rights Law</li>
            <li>Data Protection Law/GDPR</li>
            <li>Employment Law</li>
            <li>Energy Law</li>
            <li>Environmental Law</li>
            <li>Insolvency Law</li>
            <li>Insurance and Compensation Law</li>
            <li>Intellectual Property Law</li>
            <li>Public Contract Law</li>
          </ul>
        </div>
      </div>
      <div></div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h2 class="font-gotham-bold text-xl">Two law firms became one</h2>
          <p class="leading-tight">
            WSA was founded through the merger of law firms Gärde Wesslau and
            Hökerberg & Söderqvist, two prolific firms sharing a strong history.
          </p>
          <p class="leading-tight">
            Since starting in the early 1950s, Gärde Wesslau became one of the
            leading law firms in Sweden. With their unique direct line to all
            the chambers of commerce in Europe and many international contacts,
            Gärde Wesslau became the law firm of choice for Swedish companies
            wanting to expand abroad or international companies looking for a
            new market in Sweden.
          </p>
          <p class="leading-tight">
            Since the 1980s, Hökerberg & Söderqvist has put the business
            advantage of their clients in focus, working under the motto “to
            make the impossible possible”. They started from a creative and
            innovative mode of operation with the purpose of offering their
            clients the best possible solution ta any specific situation, a
            method that proved to be very successful. The law firm quickly made
            a name for itself through a series of high profile insolvency cases
            in the financial sector, cases often previously rejected by the rest
            of the market.
          </p>
          <p class="leading-tight">
            In 2016, Gärde Wesslau and Hökerberg & Söderqvist merged to become
            WSA. Guarding the legacy of both firms, the offer is clear: a total
            focus on business to help bring companies to their next level,
            whether at home or abroad.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
