---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import folder from "@assets/startsida-1024x683.jpg";
import map from "@assets/map.jpg";
---

<BaseLayout title="WSA Law" description="A different kind of law firm">
  <h1 class="font-gotham-light text-5xl lg:text-[4rem] pt-12 sm:pt-24 pb-6">
    A different kind of law firm
  </h1>
  <a
    class="no-underline font-gotham-light px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
    href="/employees">Hitta medarbetare</a
  >
  <div
    class="pt-36 lg:pt-48 divide-solid divide-brand divide-y-2 space-y-12 w-4/5 mx-auto">
    <section class="">
      <h2 class="font-gotham-light text-3xl lg:text-4xl text-center pb-8">
        Our business areas allow us to put your business first
      </h2>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Capital Market</h3>
          <p class="leading-tight">
            We have long been specialised in financial questions. Combined with
            a strong focus on your business advantage, it lets us cater to your
            needs on the capital market in the best possible manner.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Corporate & Enterprise</h3>
          <p class="leading-tight">
            Management by objectives through Corporate & Enterprise translates
            into a strategic comprehensive approach to your operation and the
            issues currently at hand. Together we maximise your business
            advantage.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Credit & Insolvency</h3>
          <p class="leading-tight">
            We have experience from many of Sweden’s largest insolvency cases of
            recent times. We bring that competence into any question on credit
            and insolvency that could come up in your business.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">
            Environment, Energy & Real Estate
          </h3>
          <p class="leading-tight">
            Environmental, energy and real estate issues are growing in
            importance, scope and complexity. WSA assists companies,
            organizations and public bodies in all issues that may emerge and
            provides you with strategic advice to maximize both company benefit
            and create conditions for the community's infrastructure.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Human Resources</h3>
          <p class="leading-tight">
            We know that your co-workers are your biggest assets. With us as
            your Human resource partner you get qualified support in all
            inevitable questions regarding your personnel.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Mergers & Acquisitions</h3>
          <p class="leading-tight">
            When organic growth takes too long, you can speed up the process
            with mergers and acquisitions. We understand the big picture of your
            operation, and are ready to help with any type of change to the
            ownership structure of a company. So you can concentrate on running
            the business.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Public Contracts</h3>
          <p class="leading-tight">
            We know public contracts. You get more with WSA as your partner – we
            understand the driving forces and how they affect the possibilities
            of your organisation.
          </p>
        </div>
      </div>
    </section>
    <section class="pt-12">
      <h2 class="font-gotham-light text-4xl text-center pb-20">News</h2>
      <div
        class="grid lg:grid-cols-2 md:grid-rows-[minmax(0,_300px)_minmax(0,_200px)_minmax(0,_300px)_minmax(0,_200px)] lg:grid-rows-2 gap-8 lg:gap-0">
        <div class="flex flex-col gap-4 place-content-center p-6">
          <h2 class="font-gotham-light text-3xl">
            Our lawyers pursue issues that make a difference for your business
          </h2>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/employees">Our employees</a
          >
        </div>
        <Image
          src={folder}
          alt="Folder on desk with WSA Law business cards"
          class="aspect-square object-cover h-[200px] lg:h-auto w-full"
        />
        <div class="flex flex-col gap-4 place-content-center p-6">
          <h2 class="font-gotham-light text-3xl">
            We have offices in Stockholm, Borås, Jönköping, Helsingborg, Malmö,
            Nässjö, Umeå and Göteborg
          </h2>
          <a
            class="no-underline font-gotham-light mt-3 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
            href="/contact">Contact us</a
          >
        </div>
        <Image
          src={map}
          alt="Map of city"
          class="aspect-square object-cover h-[200px] lg:h-auto w-full lg:col-start-1 lg:row-start-2"
        />
      </div>
    </section>
  </div>
</BaseLayout>
