---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="We want to be your business partner" description="">
  <section class="pt-24">
    <h1 class="font-gotham-light text-[2.5rem] leading-tight">
      Open positions
    </h1>
    <div class="grid grid-cols-[minmax(0,_4fr)_minmax(0,_7fr)] gap-8 pt-24">
      <h2 class="font-gotham-light text-[2.5rem] leading-tight">Jobs</h2>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <h3 class="font-gotham-bold text-xl">Your future at WSA</h3>
          <p class="leading-tight">
            We have settled with old preconceptions of how law firms should be,
            both regarding our business and our co-workers.
          </p>
          <p class="leading-tight">
            We don’t believe in endless nights of work, twenty-four-seven
            accessibility or suppressed holidays. We have very high demands on
            competence and engagement, even higher than others. But to us,
            balance is important. Your private life should be as rich as your
            working life.
          </p>
          <p class="leading-tight">
            The competence of our co-workers is our biggest asset. It is the
            only way for us to maintain the high quality of our work. That’s why
            we search for colleagues to be engaged, courageous and curious. In
            return, you get the chance to grow professionally with solid career
            paths regardless of your role. Since we are not a traditional law
            firm, you also need to share a genuine interest in our way of
            working. Dare to question, don’t settle for less than a proper
            understanding of your subject, and always focus on the business
            advantage for your client.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
