---
import BaseLayout from "../layouts/BaseLayout.astro";
import iac from "@assets/networks/iac.png";
import telfa from "@assets/networks/telfa.png";
import mackrell from "@assets/networks/Screen-Shot-2018-06-18-at-11.36.44-AM.png";
import { Image } from "astro:assets";
---

<BaseLayout title="We want to be your business partner" description="">
  <section class="pt-24">
    <h1 class="font-gotham-light text-[2.5rem] leading-tight">Our networks</h1>
    <div class="flex justify-between pt-10">
      <div class="flex flex-col gap-4">
        <Image src={mackrell} alt="" />
        <div class="font-gotham-bold text-lg">Mackrell International</div>
        <a
          class="no-underline font-gotham-light mb-5 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
          href="http://www.mackrell.net/">Read more</a
        >
      </div>
      <div class="flex flex-col gap-4">
        <Image src={telfa} alt="" />
        <div class="font-gotham-bold text-lg">TELFA</div>
        <a
          class="no-underline font-gotham-light mb-5 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
          href="http://www.telfa.law/">Read more</a
        >
      </div>
      <div class="flex flex-col gap-4">
        <Image src={iac} alt="" />
        <div class="font-gotham-bold text-lg">IAC</div>
        <a
          class="no-underline font-gotham-light mb-5 px-5 py-1 rounded-full self-start border border-[#ffcd00] hover:text-[#ffcd00]"
          href="http://www.iaclaw.com/">Read more</a
        >
      </div>
    </div>
  </section>
  <section class="grid grid-cols-[minmax(0,_4fr)_minmax(0,_7fr)] gap-8 pt-24">
    <h2
      class="col-start-1 row-start-1 font-gotham-light text-[2.5rem] leading-tight">
      Both local and global
    </h2>
    <blockquote
      class="relative col-start-1 row-start-1 self-center justify-self-end font-gotham-light text-right text-2xl
             before:content-['”'] before:font-calibri before:text-8xl before:absolute before:left-0 before:-top-6 before:text-brand">
      “Our competence in combination with our network means that we can always
      take an overall approach to your business.”
    </blockquote>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h3 class="font-gotham-bold text-xl">Our network complements us</h3>
        <p class="leading-tight">
          We know a lot about a lot of things. Still, we know that the best
          support is sometimes found outside our own office. This is why we
          carry an extensive network of competence to complement our deep
          knowledge in legal matters.
        </p>
        <p class="leading-tight">
          Today’s society is marked by ever-increasing levels of specialisation.
          This leads to increased complexity in decision-making processes and
          greater need for contemporary social and environmental analysis. To
          arrive at the right business decision, you need a partner that can
          provide support in a considerably greater amount of areas than is
          offered by your traditional law firm. Whatever your business – and no
          matter if we talk about company evaluation, tax, accounting,
          organisational questions, media, finance or risk analysis – our
          competence in combination with our network means we always provide you
          with a comprehensive view on your business.
        </p>
        <p class="leading-tight">
          Many of our partners operate on the global market, and we are members
          of two international law networks – Macrell International comprising
          90 law firms in more than 60 countries with more than 5 000 lawyers
          employed, and the Trans European Law Firms Alliance (TELFA) built on
          the idea that local regulation and cultural differences play a major
          role when companies want to establish themselves on a new market.
          TELFA co-operates with the North-American network USLAW and other
          partners in North and Latin America, Asia and Africa. On the local
          level, we continually build a strong presence in local commercial and
          industrial life and business associations to guarantee up to date
          knowledge in the latest developments of your business area.
        </p>
        <p class="leading-tight">
          Our competence and experience in combination with that of our networks
          allow you to always rely on WSA as a provider of high quality
          counselling in Sweden, as well as in the rest of the world.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
