---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout title="News and Insights" description="">
  <section class="pt-12 lg:pt-24">
    <h1 class="font-gotham-light text-[2.5rem] leading-tight">
      News and Insights
    </h1>
  </section>
</BaseLayout>
