---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "News &#038; Insights";
const description = "undefined";
const status = "publish";
const type = "page";
const createdAt = new Date("2019-03-25T13:03:00");
const modifiedAt = new Date("2019-03-25T13:03:00");
const authorId = 7;
---

<BaseLayout {title} {description}>
  <section class="pt-12 lg:pt-24">
    <h1 class="font-gotham-light text-[2.5rem] leading-tight">
      News and Insights
    </h1>
  </section>
</BaseLayout>
