---
import { Image } from "astro:assets";
import NavMain from "./NavMain.astro";
import Language from "./Language.astro";
---

<div class="isolate w-full">
  <div
    class="container mx-auto flex max-w-screen-lg flex-wrap items-center justify-between">
    <a href="/">
      <Image
        class="w-[100px]"
        src="/images/logo.png"
        alt="WSA Law logo"
        width="722"
        height="560"
      />
    </a>
    <div
      class="relative flex gap-4 items-center
    [&>input:checked_~_label>svg>path:first-child]:opacity-0 [&>input:checked_~_label>svg>path:last-child]:opacity-100
    [&>input:checked_~_nav]:translate-y-0 [&>input:checked_~_nav]:opacity-100">
      <Language class="lg:hidden" />
      <input id="menuBtn" type="checkbox" class="hidden" />
      <label
        class="hover:text-white focus:outline-none lg:hidden"
        for="menuBtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 aspect-square"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          aria-label="Menu toggle button">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
            class="transition-opacity duration-300 ease-in"></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
            class="opacity-0 transition-opacity duration-300 ease-in"></path>
        </svg>
      </label>
      <NavMain />
      <Language class="hidden lg:block" />
    </div>
  </div>
</div>
