---
import menu from "../data/menu-footer.json";
---

<nav class="">
  <ul class="flex flex-col">
    {
      menu.map((item) => (
        <li>
          <a
            class="hover:text-brand font-gotham-light text-sm lg:text-base aria-[current='page']:underline decoration-brand underline-offset-4"
            href={item.link}
            aria-current={Astro.url.pathname === item.link ? "page" : null}>
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
